* {
    /* `otf-font-awesome` is required to be installed for icons */
    /*font-family: TerminessTTF Nerd Font;*/
    font-family: "Hurmit Nerd Font Propo";
    /*font-family: "3270 Nerd Font Propo";*/
    font-size: 12px;
   /*font-weight: bold;*/
}

window#waybar {
    background-color: #24283b;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 5px;
    background-color: #24283b;
    color: #c0caf5;
    box-shadow: inset 0 -3px #c0caf5;
}

#workspaces button.empty {
    color: #a9b1d6;
    box-shadow: inset 0 -3px #414868;
}

#workspaces button.visible {
    background-color: #414868;
    box-shadow: inset 0 -3px #faba4a;
}

#workspaces button.active {
    background-color: #414868;
    box-shadow: inset 0 -3px #9fe044;
}

#workspaces button.urgent {
    box-shadow: inset 0 -3px #f7768e;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 5px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #faba4a;
}

#clock.date {
    color: #c0caf5;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
}

#memory {
}

#disk {
}

#backlight {
    background-color: #90b1b1;
}

#network {
    box-shadow: inset 0 -3px #9fe044;
}

#network.disconnected {
    box-shadow: inset 0 -3px #f7768e;
}


#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

